#menu{
    margin-top: 10px;
}

#menu, #search{
    background-color: #222222;
    color: #fdfdfd;
    border-radius: 10px;
    transition: 500ms;
}

.button{
    width: 100px;
    height: 40px;
    transition: 600ms;
}

.button:hover{
    background-color: #fdfdfd;
    color: #5d5d5d;
}

